<div class="flex">
  <div class="w-1/3">
    <% @urls.each do |url| %>
      <%= link_to urls_path(id: url) do %>
        <div class="border">
          <%= url.title %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="w-2/3">
    <%= @url.short_link %>
  </div>
</div>
